<!DOCTYPE html>
<html>
<head>
	<title>Register page</title>
</head>
<font size="10px" face="arial" colour="blue">
<body align="center" bgcolor="green">
	<!--<center>-->
User Name:  &nbsp;<input type="email" name="u_name">
<br required>
password: &nbsp;<input type="password" name="pwd" readonly>
<br required>
Mobile number: &nbsp;<input type="number",name="phone">
<br required>
<input type="submit" value="Register">
<br><!--</center>-->
<a href="http://www.google.co.in">Google page</a>
</font>
</body>
</html>